<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Batman</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <style>
            body{
                background-image: url('/website/templates/pics/Batman_comics.jpeg');
            }

            body.container {
                opacity: 0;
                transition: opacity 0.5s ease-in-out;
            }

            body.container.visible {
                opacity: 1;
            }

        </style>
    </head>

    <body>
        <div class="container p-5 bg-light text-dark opacity-80 my-5">
            <div class="row">
                <div class="col-7 py-4 px-5 left">
                    <div>
                        <p class="lead">
                            "His parents died when he was so young. Shot. Killed right in front of him. He was raised 
                            alone. A kid in a huge mansion. With his memories of his mother and father. He had love, 
                            and they took it from him. He should be a killer. He should want to tear the world apart 
                            for what it did. And yet he took that pain. That shock of death. And he turned it into hope."
                        </p>
                        <p class="blockquote-footer">
                            Superman
                        </p>
                        <br>
                        <p class="lead">
                            Batman is the superhero protector of Gotham City, a tortured, brooding vigilante dressed 
                            as a bat who fights against evil and strikes fear into the hearts of criminals everywhere. 
                            In his public identity, he is Bruce Wayne, a billionaire industrialist and notorious 
                            playboy. Although he has no superhuman abilities, he is one of the world's smartest men and 
                            greatest fighters. His physical prowess, technical ingenuity, and tactical thinking make him 
                            an incredibly dangerous opponent. He is also a founding member of the Justice League.
                        </p>
                        <br>
                    </div>

                    <div class="table-of-contents col-lg-5">
                        <h2>Contents</h2><hr>
                        <table class="table table-striped border-0">
                            <tbody>
                                <!-- History -->
                                <a href="#history" class="list-group-item">1. History</a>
                                <a href="#early-life" class="list-group-item ms-1">         1.1. Early Life</a>
                                <a href="#later-childhood" class="list-group-item ms-2">    1.2 Later Childhood</a>
                                <a href="#travels-and-training" class="list-group-item ms-2">   1.3. Travels and Training</a>
                                <!-- more list items... -->
                                <a href="#powers-and-abilities" class="list-group-item">2. Powers and Abilities</a>
                                <a href="#abilities" class="list-group-item ms-1">  2.1. Abilities</a>                              
                                <a href="#paraphernalia" class="list-group-item">3. Paraphernalia</a>
                                <a href="#equipment" class="list-group-item ms-1">  3.1. Equipment</a>
                                <a href="#transportation" class="list-group-item ms-1"> 3.2. Transportation</a>
                                <a href="#weapons" class="list-group-item ms-1">    3.3. Weapons</a>
                                <a href="#relatives" class="list-group-item">4. Relatives</a>
                                <a href="#affiliation" class="list-group-item">5. Affiliation</a>
                                <a href="#boo" class="list-group-item">6. Base of Operations</a>
                                <a href="#trivia" class="list-group-item">7. Trivia</a>
                            </tbody>                            
                        </table> 
                    </div>
                </div>

                <div class="col-5 py-4 px-5 text-center  text-dark bg-white opacity-100">
                    <div class="header-right">
                        <h4>Batman</h4>
                        <img src="/website/templates/pics/Batman_Urban_Legends_Vol_1_5_Textless.jpeg" class="img-thumbnail  mb-2">
                    </div>

                    <div class="container">
                        <div class="row">
                          <div class="col">
                            <p><b>Real Name</b></p>
                          </div>
                          <div class="col text-end">
                            <p>Bruce Thomas Wayne</p>
                          </div><hr>
                        </div>
                        <div class="row">
                          <div class="col">
                            <p><b>Main Alias</b></p>
                          </div>
                          <div class="col text-end">
                            <p>Batman</p>
                          </div><hr>
                        </div>
                        <div class="row">
                          <div class="col">
                            <p><b>Other Aliases</b></p>
                          </div>
                          <div class="col text-end">
                            <p>Jack Shaw · <br> Matches Malone · <br> Doctor Fate <br> Other known aliases</p>
                          </div>
                        </div>
                        <div class="row">
                            <h5>Status</h5>
                            <div class="col">
                                <p><b>Alignment</b></p>
                              </div>
                              <div class="col text-end">
                                <p>Good</p>
                            </div><hr>
                            <div class="col">
                                <p><b>Identity</b></p>
                              </div>
                              <div class="col text-end">
                                <p>Secret Identity</p>
                            </div><hr>
                            <div class="col">
                                <p><b>Citizenship</b></p>
                            </div>
                            <div class="col text-end">
                                <p>American</p>
                            </div><hr>
                            <div class="col">
                                <p><b>Marital Status</b></p>
                            </div>
                            <div class="col text-end">
                                <p>Single</p>
                            </div><hr>
                            <div class="col">
                                <p><b>Occupation</b></p>
                            </div>
                            <div class="col text-end">
                                <p>Vigilante · <br> Former Businessman</p>
                            </div><hr>
                        </div>

                        <div class="row">
                            <h5>Characteristics</h5>
                            <div class="col">
                                <p><b>Gender</b></p>
                            </div>
                            <div class="col text-end">
                                <p>Male</p>
                            </div><hr>
                            <div class="col">
                                <p><b>Height</b></p>
                            </div>
                            <div class="col text-end">
                                <p>6'2"</p>
                            </div><hr>
                            <div class="col">
                                <p><b>Weight</b></p>
                            </div>
                            <div class="col text-end">
                                <p>95 kg (210 lbs)</p>
                            </div><hr>
                            <div class="col">
                                <p><b>Eyes</b></p>
                            </div>
                            <div class="col text-end">
                                <p>Blue</p>
                            </div><hr>
                            <div class="col">
                                <p><b>Hair</b></p>
                            </div>
                            <div class="col text-end">
                                <p>Black</p>
                            </div><hr>
                        </div>

                        <div class="row">
                            <h5>Origin</h5>
                            <div class="col">
                                <p><b>Universe</b></p>
                            </div>
                            <div class="col text-end">
                                <p>Prime Earth</p>
                            </div><hr>
                            <div class="col">
                                <p><b>Creators</b></p>
                            </div>
                            <div class="col text-end">
                                <p>Bill Finger · Bob Kane</p>
                            </div><hr>
                        </div>
                    </div>
                                        
                </div>
            </div>

            <br>
            <div id="history">
                <h4>History</h4><hr>
                <div id="early-life">
                    <h5>Early Life</h5>
                    <p>
                        Bruce Wayne was born to wealthy physician Dr. Thomas Wayne and his wife Martha, 
                        who were themselves members of the prestigious Wayne and Kane families of Gotham 
                        City, respectively. When he was three, Bruce's mother Martha was expecting a second 
                        child to be named Thomas Wayne, Jr. However, because of her intent to find a school 
                        for the underprivileged in Gotham, she was targeted by the manipulative Court of 
                        Owls, who arranged for her to have a car accident. She and Bruce survived, but the 
                        accident forced Martha into premature labor, and the baby was lost.
                        <br><br>
                        While on vacation to forget about these events, the Wayne Family butler, Jarvis 
                        Pennyworth was killed by one of the Court of Owls' Talons. A letter he'd written to 
                        his son Alfred, warning him away from the beleaguered Wayne family, was never 
                        delivered. As such, Alfred - who had been an actor at the Globe Theatre at the time 
                        and a military medic before that, traveled to Gotham City to take up his father's 
                        place, serving the Waynes as butler.
                        <br><br>
                        As he grew older, his family's reputation made Bruce restless, and he began sneaking 
                        out of school to visit Gotham City, where he wouldn't be so easily recognized. On one 
                        such outing, when he was ten years old, he was picked up by Officer Jim Gordon and 
                        his partner on their patrol. En route back to the station, Bruce witnessed Jim accepting 
                        a trench coat as a bribe from a tailor — though neither realized it was a bribe at the 
                        time — but Bruce would remember it as an indicator of Jim's character.
                        <br><br>
                        After his parents picked Bruce up at the police station, the Waynes went to see The 
                        Mark of Zorro at the Monarch Theater. When the Waynes were walking home after the movie, 
                        a mugger named Joe Chill attempted to rob them at gunpoint, and panicked, shooting both 
                        Thomas and Martha dead.
                    </p>
                </div>
                <br>
                <div id="later-childhood">
                    <h5>Later Childhood</h5>
                    <p>
                        Following his parents' deaths, Bruce attempted to commit suicide with a razor blade. 
                        However, just before he went through with it, he realized that this wasn't what his parents 
                        would want, and it was at that moment Bruce vowed to spend the rest of his life warring on crime.
                        <br><br>
                        Bruce became obsessed with the search for meaning in the loss of his parents. He thought perhaps the 
                        mythical Court of Owls was responsible, but he never found anything to prove it.Shortly after their deaths, 
                        Bruce became obsessed with using toy guns and killing the man who murdered his parents. Because of this, 
                        Alfred sent Bruce to an Arkham boys' rehabilitation home upstate where he first met Harvey Dent. The boys 
                        became good friends but wouldn't realize their identities until years later.
                        <br><br>
                        In his youth, Bruce attended Gotham Academy. It was there that he dated Julie Madison, but his psychological 
                        issues with his parents' deaths ultimately led to the end of their relationship. One day, he was asked by a 
                        professor to answer a problem involving a projectile being fired at a target. This triggered Bruce to answer 
                        the question by burning the answer on the professor's front yard. Bruce was later expelled from Gotham Academy 
                        and began attending Roxbury Fielding Academy.
                        <br><br>
                        Troubled by grief, Bruce found that he couldn't function the way he was, so he hired a homeless man to pretend 
                        to be Alfred to approve of the paperwork so that Bruce could erase his memory with electroshock therapy, but 
                        chose not to go through with it, and to use his pain as a motivator. At the age of 18, he used his relationship 
                        with Erin McKillen - a daughter of the Irish mob, and with whom he attended Roxbury Academy - to locate Joe Chill, 
                        and learned that he had simply needed the money, and there was no deeper meaning to his parents' deaths. During 
                        his final year as a student, Bruce participated in at least one underground fight and dated a young woman named 
                        Dana, who talked him out of becoming a police officer, noting how unsuited to the job he would be, and encouraged 
                        him to think on a larger scale.[16] He was also psychoanalyzed by Doctor Hugo Strange, who he exposed as a fraud.
                    </p>
                </div>
                <br>
                <div id="travels-and-training">
                    <h5>Travels and Training</h5>
                    <p>
                        Fueled by the loss of his parents, Bruce began a global sojourn. He began in Paris, briefly training with the 
                        world's best fencer; he would best said swordsperson after two weeks of training. Sometime later, Bruce 
                        encountered the Grey Shadow, a French cat burglar of high renown. Though he initially intended to turn the Shadow 
                        in, after some conversation and consideration (and no small amount of teasing), he became her protege. In the 
                        process of his training, the pair would rob the CEO of Sunrise Oil, Hubert Glonet, unaware that Hubert was the 
                        notorious serial killer known to the French public as 'The Foundling'. Bruce developed feelings for the Shadow, 
                        culminating in a kiss; however, the Shadow, who shared his attraction, rejected him as too young. Moments later, 
                        the pair would be interrupted by notorious manhunter Henri Ducard, who was hired by Alfred Pennyworth to track 
                        Bruce down. <br><br>
                        The trio worked together to take down the Foundling. They were successful, but the confrontation resulted in 
                        Henri becoming hospitalized. For his own good, the Shadow fired Bruce, though they parted amicably; Bruce then 
                        approached Henri, seeking to learn the art of manhunting from the prolific manhunter; he accepted, and Bruce became 
                        his assistant. <br><br>
                        Bruce also became close training partners with Ducard's son, Morgan. However, when Bruce discovered that Henri 
                        often killed his targets, he left. This caused Henri to send Morgan after him, but Bruce managed to defeat him, 
                        throwing him into Henri's office. One of his earliest stops was in Tibet, where he trained in martial arts and 
                        sword fighting under Shaolin monks. Bruce studied under Giovanni Zatara in Las Vegas, struggling to master the 
                        basic precepts of stage magic. During this period, he became very close with Giovanni's daughter, Zatanna, with 
                        the pair striking up an attraction. Hoping to impress Bruce, Zatanna introduced Bruce to real, arcane magic. 
                        However, Zatara disagreed with this choice, and erased the memory of this discovery from Bruce's mind. <br><br>
                        After two months of searching, Bruce arrived at the Dojang of Master Kirigi on Paektu Mountain in North Korea. He 
                        was wordlessly denied entry by a sentry, who shoved him to the ground; over the next few nights, this process repeated 
                        violently until finally he was allowed entry. While training under Kirigi he became acquainted with another acolyte of 
                        Kirigi's, one who identified himself as Anton. They bonded over their shared desire to fight criminals, despite their 
                        differing motivations. 'Anton' and Bruce, going by 'Jack', spent almost a year atop Paektu mountain training under Kirigi. 
                        Shortly after the arrival of a new crop of an aggressive, belligerent students sent by a 'benefactor' of Kirigi's, Bruce 
                        left, leaving his training under Kirigi technically incomplete as a result of his refusal to learn the lethal 'Vibrating 
                        Palm' technique. On his way down the mountain, Bruce was attacked by these new students, assassins-in-training. Alone, he 
                        fought valiantly, but was on the verge of being overwhelmed until 'Anton' arrived, and together, they fought off the 
                        attackers and resolved to train together moving forward. <br><br>
                        At the age of 19, Anton and Bruce learned how to race cars in life-or-death situations from Brazilian criminal, Don 
                        Miguel. While there, his break-lines were cut, an action he later suspected was the handiwork of his cohort. Bruce himself 
                        tricked Don Miguel into getting captured by police during his final lesson. Soon afterward, Bruce and Anton were apprehended 
                        in Moscow after staking out an FSB office trying to locate Avery Oblonsky, an ex-KGB freelance operative and held in prison 
                        for fourteen days. During their escape from imprisonment, it was revealed that the warden who had been keeping them captive 
                        was, in fact, a disguised Oblonsky, who agreed to train the pair in the art of disguise and manipulation. In the process, 
                        Wayne's true identity was revealed to Anton. <br><br>
                        After training with Oblonsky, Bruce and 'Anton' travelled to the wilds of northern British Columbia, hunting down the world's 
                        greatest marksman, Luka Jungo, also known as "The Swiss Mark". The pair trained under Luka for several months. In the process, 
                        Luka made the pair that they would swear to never use firearms against other people. Luka, unsettled by Anton's behavior, 
                        confronted him, proclaiming him a killer. The confrontation resulted in Luka's death at Anton's hands, and the pair became very 
                        aware of the gulf between their motivations, coming to blows. Despite having a gun to Bruce's head, Anton could not bring himself 
                        to shoot Bruce, and parted ways. He was also trained in stealth by an unnamed master in the Hida Mountains, in Japan. At age 21, 
                        Bruce studied the ins and outs of technological gadgetry under the guidance of the brilliant inventor, Sergei Alexandrov. At the 
                        age of 22, Bruce travelled to the Himalayas to train with Shihan Matsuda, who taught him to fight with the katana. He soon struck 
                        up a romance with the sword-sharpener's daughter, Mio. Matsuda warned him against creating personal ties with others, and to 
                        embrace his darker side. Matsuda's wife, though encouraged it, and because of Bruce's feelings for her, he inadvertently let an 
                        assassin into the Matsuda household. In the following course of events, Bruce discovered that Mio had been hired by Matsuda's wife 
                        to seduce him and then kill Matsuda. Both women and Matsuda himself were gravely injured, but before he died, Matsuda warned him 
                        that death is what would come of fostering close personal relationships. <br><br>
                        At age 24, Bruce was training in Norway, and after 28 hours of fighting a new opponent each hour, Bruce's determination struck fear 
                        into all the Queen's men. Bruce spent time with a nomadic people in the Nigerian desert enduring grueling training. It was during 
                        this time that Alfred attempted to contact him, but when Bruce received the phone call, he couldn't bring himself to answer. Sometime 
                        during his time abroad, Bruce also trained with Chu Chin Li and Tsunetomo, two martial arts masters in the Far East and was also 
                        arrested for illegal base jumping at Meru Peak. He was also, at some point, trained by expert boxer (and former JSA member) Ted Grant.
                        Towards the end of his travels, Bruce returned to study under Zatara once more. Over the course of his renewed studies, Bruce and 
                        Zatanna encountered a demon known as Shantoz, a being that would escape hell every twenty years to feast on the souls of those with 
                        broken hearts. This time, when the secret of genuine magic was revealed to Bruce, he was allowed to remember, and together the pair 
                        was eventually able to defeat the demon by using Bruce's trauma as bait. Despite the temptation, Bruce decided against learning true 
                        magic, unwilling to pay the price it would exact on his soul.[33] During this time, Bruce and Zatanna became inadvertently bonded 
                        through a miscast spell, and would spend the next few decades having regular meetings in order to contain the arcane chaos their 
                        mistake wrought. <br><br>
                        Throughout Bruce's training, he constantly crossed paths Minhkhoa Khan, the man he knew as Anton. Bruce and the man who would become 
                        Ghost-Maker became rivals, having fought on a few occasions due to their differing opinions on killing criminals. They crossed paths 
                        while seeking training in Dublin, Metropolis, and Morroco.[32] In Morroco, Khan killed their mentor Ouahbi, ostensibly in self-defense, 
                        like he did Luka. Bruce continued his travels, making a stop in Mexico, where a mysterious assailaint slipped him psycobilin while he 
                        fought jaguars, and in Shanghai, where his rope was mysterliously cut, though he was rescued at the last minute by Skyspider, a 
                        thrillseeking urban explorer who had previously mentored him. He discovered that she had recently trained Minkkhoa Khan under the same 
                        fake name he'd used with Bruce, 'Anton'. Suspecting Khan of attempting to kill him, Bruce pressed on, seeking out Doctor Daniel Captio, 
                        an expert mentalist who was capable of complete concious control over both his brain and body. While under his tutelage, Bruce was able 
                        to learn control over his body, but was unable to control his emotions. Interested, Daniel tested him with falsified photos of the people 
                        he cared for, murdered. At that moment, an injured Minhkhoa arrived at the door of Captio's estate; Bruce accused Minhkhoa of both the 
                        murders and of previous attacks on Bruce himself in Rio De Janero, Mexico, and Shanghai; Minhkhoa had no idea what Bruce was talking about, 
                        and expressed regret at the deaths of Luka Jungo and Master Ouahbi. He revealed that he had been tracked and attacked as well, and had 
                        come to warn Bruce. Outside, Bruce confronted the mysterious assailant who had been tailing him across the world and who had attacked and 
                        greviously injured Minhkhoa: Harris Zuma, AKA 'The Still', a renowned assassin in the employ of Ra's al Ghul. They fought on the cliffside 
                        as a storm struck, and Bruce was able to channel his fury and love, overtaking Zuma. Zuma revealed that the loved ones Bruce saw dead in 
                        the photos were still alive, and that his employer, the Demon's Head, was offering them an invitation to train with him in the Crystal Hills 
                        of Abu Dhabi. Bruce then confronted Doctor Captio, realizing that he had doctored the photos that had enraged him so. After Minhkhoa 
                        recovered, the pair left Captio's manor together, determined to seek out Ra's Al Ghul. <br><br>
                        They eventually made their way to Ra's Al Ghul's crystal fortress in the heart of the Rub' Al Khali Desert, accepting his tutelage. During 
                        this period, he was introduced to Ra's daughter, Talia Al Ghul, who assisted in the training of the pair. Ra's told the pair that he intended 
                        to change the world using the principles of 'Lazarus', the supposed name of his organization, intending to build entirely self-sustained 
                        'Lazarus Cities'. While training, despite his rejection of the Demon Head's principles, Al Ghul became very certain that Bruce would one day 
                        become the true heir to his ideals and organization. As such, he gifted him a small box, supposedly containing the eye of a god. Talia and 
                        Bruce became close during this time, but Bruce's distrust of her father's methods and goals resulted in the bond turning frosty. Towards the 
                        conclusion of their training, Ra's revealed the truth of his intentions to Bruce and Minhkhoa, and made them duel for the right to replace 
                        Harris Zuma as second in command, the Demon's Hand. Bruce defeated Minkhoa, and Ra's allowed Zuma, Bruce's ostensible predecessor, to remain 
                        alive, requesting that he take the unconcious Minkhoa Khan from the Crystal Hills. He then declared Bruce to be the Demon's Heart, though 
                        Bruce did not remain with the organization[37]; he recognized that their plans involved mass death, and planted explosives throughout the 
                        Crystal Hills, collapsing the structure. In the proces, he fought Ra's, who defeated him; however, he was rescued by Minkhoa, who dragged                         
                        him out of the collapsing cave system. Despite this, they parted ways, swearing that Minkhoa would never enter Gotham, and that Bruce 
                        would never enter any city Minkhoa set up shop in. After seven long years of absence, Bruce finally returned to Gotham at the age of 25. To 
                        formally end his training, Bruce climbed to the top of Wayne Tower and did a base-jump off the top, resulting in a concussion, road rash, 
                        & a dislocated shoulder and elbow.
                    </p>
                </div>
            </div>

            <br>
            <div id="relatives">
                <h4>Relatives:</h4><hr>
                <ul>
                    <li>Alan Wayne (great-great-grandfather, deceased)</li>
                    <li>Catherine Van Derm (great-great-grandmother, deceased)</li>
                    <li>Patrick Wayne (paternal grandfather, deceased)</li>
                    <li>Constance Wayne (paternal grandmother, deceased)</li>
                    <li>Thomas Wayne (father, deceased)</li>
                    <li>Martha Wayne (mother, deceased)</li>
                    <li>Roderick Kane (maternal grandfather, deceased)</li>
                    <li>Philip Kane (maternal uncle, deceased)</li>
                    <li>Jacob Kane (maternal uncle)</li>
                    <li>Gabrielle Kane (maternal aunt, deceased)</li>
                    <li>Helen Wayne (paternal aunt, deceased)</li>
                    <li>Thomas Wayne, Jr. (possible brother, deceased)</li>
                    <li>Kate Kane (cousin)</li>
                    <li>Elizabeth Kane (cousin)</li>
                    <li>Bette Kane (cousin)</li>
                    <li>Damian Wayne (son)</li>
                    <li>Alfred Pennyworth (legal guardian, deceased)</li>
                    <li>Dick Grayson (adoptive son)</li>
                    <li>Jason Todd (adoptive son)</li>
                    <li>Tim Drake (adoptive son)</li>
                    <li>Mr. Wax (clone)</li>
                    <li>Wayne and Kane family</li>
                </ul>
            </div>

            <br>
            <div id="affiliation">
                <h4>Affiliation:</h4><hr>
                <ul>
                    <li>Bat-Family</li>
                    <li>Guild of Detection</li>
                    <li>Formerly Outsiders</li>
                    <li>Batman Inc.</li>
                    <li>Justice League</li>
                    <li>Justice League International</li>
                    <li>Justice League of America</li>
                    <li>Gotham Knights</li>
                    <li>Justice League: Team Entropy</li>
                    <li>Wayne Enterprises</li>
                </ul>
            </div>

            <br>
            <div id="boo">
                <h4>Base of Operations:</h4><hr>
                <ul>
                    <li>Gotham City</li>
                    <li>Batcave, Stately Wayne Manor (Formerly)</li>
                    <li>Hall of Justice</li>
                    <li>Justice League Watchtower</li>
                </ul>
            </div>
            
            <br>
            <div id="powers-and-abilities">
                <h4>Powers and Abilities</h4><hr>
                <div id="abilities">
                    <ul>
                        <li>Acrobatics</li>
                        <li>Archery</li>
                        <li>Athletics</li>
                        <li>Aviation</li>
                        <li>Business Management</li>
                        <li>Chemistry: Bruce created a synthetic mineral (basically a new element) to weaken Wraith, that works very similar to that of Green Kryptonite.</li>
                        <li>Computer Hacking: Bruce was able to hack and record the mobile frequency of the Suicide Squad members' brain bombs and deactivate them. He can 
                            even hack into a Green Lantern Ring and a Apokolyptian computer.
                        </li>
                        <li>Criminology</li>
                        <li>Disguise: Bruce is a master of disguise having been trained by Alfred. He was even able to impersonate Deathstroke.</li>
                        <li>Driving</li>
                        <li>Eidetic Memory: Bruce knows the "Memory Palace Technique", a strategy of memory enhancement that allows him to treat 
                            and store memories like a museum. He was taught this technique by Ra's al Ghul.
                        </li>
                        <li>Escapology</li>
                        <li>Equestrianism</li>
                        <li>Forensic Pathology</li>
                        <li>Gadgetry</li>
                        <li>Genius Level Intellect: Batman is considered one of the smartest beings on the planet, alongside Lex Luthor.</li>
                        <li>Hypnosis</li>
                        <li>Indomitable Will: Batman's unstoppable determination and strength of will make him an extremely formidable opponent. 
                            This makes him able to function while tolerating massive amounts of physical pain.
                        </li>
                        <li>Interrogation</li>
                        <li>Intimidation: Batman is able to instill great fear into others. His ability to do this was so great, he was capable 
                            of wielding a Yellow Power Ring.
                        </li>
                        <li>Investigation: Hailed as the World's Greatest Detective, Batman has few equals when it comes to forensic 
                            investigations and solving crime mysteries.[86] He is able to use even the smallest clues and slightest details to 
                            solve extremely difficult cases and accurately deduce the identity of unknown criminal masterminds. He is capable of 
                            observation, forensic investigation, and inductive and deductive reasoning of the highest caliber.
                        </li>
                        <li>Lock Picking: Bruce learned how to pick a lock when he was in grade school. He can pick handcuff locks in a few seconds, 
                            and can even pick a lock with his mouth.
                        </li>
                        <li>Martial Arts: Batman is one of the finest martial artists in the world, having been trained by the best fighters around 
                            the world. By most accounts, it took Bruce twelve years to cross the globe, learning how to hit people, find people, and 
                            1,001 other skills before he could become The Bat.[224] In turn, he has also been able to pass on his learnings to his 
                            many proteges. Thanks to his years of martial arts training, Bruce can identify the martial art that his opponent uses 
                            against him and counter nearly any opponent.
                            <ul>
                                <li>Boxing: Bruce studied boxing during his time at Roxbury Fielding Academy.[15] He was also trained in this 
                                    fighting style by Wildcat.
                                </li>
                                <li>Bam Pow: Bruce has also trained in a unique fighting style that he invented to combat the Batman Who Laughs, 
                                    which Alfred calls "Bam Pow".
                                </li>
                                <li>Dim Mak: Batman is skilled in this ancient form of martial arts where you strike vital points of the 
                                    opponent's body causing paralysis, intense and prolonged pain or death. He knows a two-finger nerve strike 
                                    technique that, if not executed perfectly and with the precise amount of pressure, can easily kill someone.
                                </li>
                                <li>Ninjitsu</li>
                                <li>Karate</li>
                                <li>Krav Maga</li>
                                <li>Muay Thai</li>
                                <li>Tae Kwon Do</li>
                                <li>Wrestling: While weary and suffering from blood loss, Bruce managed to wrestle with a bear.</li>
                                <li>Stick Fighting: Batman is skilled in multiple stick-based martial arts, having trained the Robins to use 
                                    bo-staffs.
                                </li>
                            </ul>
                        </li>
                        <li>Mechanical Engineering</li>
                        <li>Medical Science</li>
                        <li>Meditation</li>
                        <li>Multilingualism: Batman is fluent in Portuguese, Dhari, Latin, Chinese, Greek, Icelandic, French, Gaelic, and 
                            Kryptonese. He can also understand American sign language[9] and Argot of the Ancient Sea People.
                        </li>
                        <li>Music: Bruce is skilled at guitar.</li>
                        <li>Occultism: Batman hates magic, but has allowed himself to learn at least a few spells, as a contingency for 
                            Superman. He is knowledgeable enough on magic to be able to instantly identify it, stating he can feel the 
                            sensation of it.
                        </li>
                        <li>Peak Human Condition: Through intense training, a specialized diet, and biofeedback treatments, Batman 
                            represents the natural pinnacle of human physical prowess. His physical attributes roughly exceeded that of an 
                            Olympic level athlete. His strength, speed, stamina, agility, reflexes and coordination are at peak human 
                            perfection. He has spent his entire life in pursuit of physical perfection and has attained it through constant 
                            intensive training and determination.
                        </li>
                        <li>Pedagogy: Bruce has trained multiple members of the Bat-Family in a wide variety of subjects, including martial 
                            arts and investigation.
                        </li>
                        <li>Precognition: After receiving training from a Mongolian Pastoralist, Bruce learned how to read the environment, 
                            to feel the subtle shifts in the Earth, in temperatures and the changing in the wind.
                        </li>
                        <li>Prestidigitation: Bruce was taught sleight of hand by Giovanni Zatara.</li>
                        <li>Robotic Engineering: Batman created the android Failsafe.</li>
                        <li>Seamanship</li>
                        <li>Stealth: Bruce managed to place several explosives around Mylara's father's ship without his knowledge, that not 
                            even Lobo was capable of noticing.
                        </li>
                        <li>Swimming</li>
                        <li>Tactical Analysis</li>
                        <li>Tracking</li>
                        <li>Ventriloquism</li>
                        <li>Weaponry
                            <ul>
                                <li>Demolitions</li>
                                <li>Firearms: Despite his opposition to the use of firearms, Bruce is one of the world's top ten marksmen.</li>
                                <li>Fencing: Bruce studied fencing during his time at Roxbury Fielding Academy.</li>
                                <li>Swordmanship</li>
                                <li>Throwing: Batman is a master marksman, capable of throwing his batarangs with immense precision.</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            <br>
            <div id="paraphernalia">
                <h4>Paraphernalia</h4><hr>
                <div id="equipment">
                    <h5>Equipment</h5>
                    <ul>
                        <li>Batcomputer:
                            <p>
                                The central focus of all of Batman's computer-based technology, wired into nearly all of Batman's equipment. 
                                Built and manufactured by Batman, Alfred Pennyworth and Lucius Fox. It even possesses security protocols so that 
                                only Batman and members of the Bat-Family are allowed to use it. The Batcomputer is capable of initiating commands 
                                that involve hacking, scanning, solving, storing and processing any information that Batman or the Batman Family 
                                desires. Holding a plethora of cryptic data and information, that even someone like Amanda Waller would find valuable. 
                                Bruce has even expanded its processing power and other capabilities by adapting a bot root code known as the Genie A.I. 
                                into it, including a Mother Box. It can even detect supernatural forces, such as magic energy.
                            </p>
                        </li>
                        <li>Batsuit:
                            <p>
                                The costume Batman wears is composed of Kevlar and a small percentage of titanium; it's bullet-proof and resistant to 
                                various types of attack (explosions, impacts, falls, among others). It is also flame-retardant and insulated. The gloves 
                                and the boots are reinforced to rebound the impact of punches and kicks. The gloves have some metallic blades on their 
                                sides. The cape is super-light, and it can be used to glide. The mask has a small percentage of lead, which shields Batman's 
                                face from X-ray powers or X-ray technology, and incorporates an infrared and night vision viewer, auditory sensors and a sonar.
                            </p>
                        </li>
                        <li>EMP Mask:
                            <p>Batman carries EMP tech that he can use as holographic disguise to morph his face to even his entire body.</p>
                        </li>
                        <li>Hellbat:
                            <p>
                                This suit is one of the three most powerful suits that Batman has ever used. Made for the battle, for the most extreme situations, 
                                due to Batman not having powers of his own. Although he couldn't originally access this suit by himself, without the permission 
                                from the rest of the Justice League.[353] Batman now has full access to the suit and can summon it to him whenever he wants. 
                                Powerful enough to contend with a demon that was capable of containing Etrigan, beat down Kalibak and even stalemate Darkseid.
                            </p>
                        </li>                        
                        <li>Magic Gauntlets:
                            <p>
                                Batman was gifted a pair of magical gauntlets by John Constantine, which allow him to fight non-corporeal beings hand-to-hand, 
                                as he did with Gentleman Ghost. Constantine won the gloves in a card game with a demon and gave them to Batman because he 
                                "doesn't like fighting with his hands".
                            </p>
                        </li>
                        <li>Utility Belt:
                            <p>
                                Batman keeps most of his personal field equipment in a signature piece of apparel, a yellow utility belt. The utility belt has a 
                                button to call the Batmobile, and a command for teleportation. Over the years it has contained items such as plastic explosives, 
                                nerve toxins, batarangs, smoke bombs, a fingerprint kit, a cutting tool, a grappling hook gun, torches, and a "re-breather" 
                                breathing device. The belt even houses a portable spherical device that can scan technology, levitate and identify magic. It has 
                                been counted that 42 sets of items, covers at least 30 percent of how much the Utility Belt can carry; meaning that the average 
                                belt can carry at least 140 sets of items.
                            </p>
                        </li>
                        <li>Black Lantern Ring (Formerly)</li>
                        <li>Helmet of Fate (Formerly)
                            <ul>
                                <li>Magic
                                    <ul>
                                        <li>Eldritch Blast</li>
                                        <li>Flight</li>
                                        <li>Teleportation</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>Mobius Chair (Formerly)</li>
                    </ul>
                    <div id="transportation">
                        <h5>Transportation</h5>
                        <ul>
                            <li>Batboat</li>
                            <li>Batcycle</li>
                            <li>Batmobile</li>
                            <li>Batplane</li>
                            <li>Bat-Copter</li>
                        </ul>
                        <div id="weapons">
                            <h5>Weapons</h5>
                            <ul>
                                <li>Batarangs:
                                    <p>
                                        His main set of weapons. Some of these bat shaped blades are electrically or sonically charged, while others are explosive. He 
                                        even carries batarangs that are made of Nth Metal that can disrupt the presence of ghostly entities, magical creatures, and 
                                        even break enchantments.
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <div id="trivia">
                <h4>Trivia</h4><hr>
                <ul>
                    <li>Dick Grayson has called and acknowledged Bruce as his <b>Dad</b>.</li>
                    <li>Batman considers Superman as his favourite superhero.</li>
                    <li>Batman admits that Superman is his best friend.
                        <ul>
                            <li>But Bruce also called Alfred Pennyworth his best friend.</li>
                        </ul>
                    </li>
                    <li>Bruce once met George Clooney and claims that Clooney owes him a favor.</li>
                    <li>Amanda Waller considers Batman a metahuman, though he does not fit the traditional or expanded definition of the term.</li>
                    <li>Bruce's birthday is October 7.</li>
                    <li>Bruce's blood type is O-.</li>
                    <li>Bruce visits his parent's grave once a week.</li>
                    <li>Bruce is a fan of old western films. One of his favourite actors is Gary Cooper.</li>
                </ul>
            </div>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" 
        crossorigin="anonymous"></script> 
    </body>
</html>