<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>The Joker</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <style>
            body{
                background-image: url('/website/templates/pics/Joker\ wallpaper.jpeg');
            }

            body.container {
                opacity: 0;
                transition: opacity 0.5s ease-in-out;
            }

            body.container.visible {
                opacity: 1;
            }

        </style>
    </head>

    <body>
        <div class="container p-5 bg-light text-dark opacity-100 my-5">
            <div class="row">
                <div class="col-7 py-4 px-5 left">
                    <div>
                       <p class="lead">
                        " A lion doesn't pass judgement on a gazelle. Cancer doesn't pass judgement on a brain. 
                        I've been saying this all along. Evil doesn't exist. There are only actions. We got to 
                        the same place--the top of the food chain--just on different paths. Mine was more fun."
                    </p>
                    <p class="blockquote-footer">
                        The Joker
                    </p>
                    <br>
                    <p class="lead">
                        The Joker is a homicidal maniac and the arch-nemesis of 
                        <a href="/batman">Batman</a>. Though his precise origin is unknown 
                        even to him, he is known to have been forced to swim through a vat of chemicals which 
                        turned his skin white, his hair green and left his face permanently locked in a rictus grin.
                    </p> 
                    <br>
                    </div>
                    
                    <div class="table-of-contents col-lg-5">
                        <h2>Contents</h2><hr>
                        <table class="table table-striped border-0">
                            <tbody>
                                <!-- History -->
                                <a href="#history" class="list-group-item">1. History</a>
                                <a href="#possible-origins" class="list-group-item ms-1">         1.1. Multiple Possible Origins</a>
                                <a href="#lknown-origin" class="list-group-item ms-2">    1.2 Known Origin</a>
                                <a href="#red-hood-gang" class="list-group-item ms-2">   1.3. Red Hood Gang</a>
                                <!-- more list items... -->
                                <a href="#powers-and-abilities" class="list-group-item">2. Powers and Abilities</a>
                                <a href="#powers" class="list-group-item ms-1">  2.1. Powers</a>
                                <a href="#abilities" class="list-group-item ms-1">  2.2. Abilities</a>                               
                                <a href="#paraphernalia" class="list-group-item">3. Paraphernalia</a>
                                <a href="#equipment" class="list-group-item ms-1">  3.1. Equipment</a>
                                <a href="#relatives" class="list-group-item">4. Relatives</a>
                                <a href="#affiliation" class="list-group-item">5. Affiliation</a>
                                <a href="#trivia" class="list-group-item">6. Trivia</a>
                            </tbody>                            
                        </table> 
                    </div>
                </div>

                <div class="col-5 py-4 px-5 text-center text-dark bg-white opacity-100">
                    <div class="header-right">
                        <h3>The Joker</h3>
                        <img src="/website/templates/pics/The Joker.jpeg" class="img-thumbnail mb-2">
                    </div>

                    <div class="container">
                        <div class="row">
                          <div class="col">
                                <p><b>Real Name</b></p>
                          </div>
                            <div class="col text-end">
                                <p>Unknown</p>
                            </div><hr>
                        </div>
                        <div class="row">
                          <div class="col">
                                <p><b>Main Alias</b></p>
                          </div>
                          <div class="col text-end">
                                <p>The Joker</p>
                          </div><hr>
                        </div>
                        <div class="row">
                          <div class="col">
                                <p><b>Other Aliases</b></p>
                          </div>
                          <div class="col text-end">
                                <p>Red Hood,<br>Red Hood One,<br>Eric Border,<br>Jack Napier,<br>Crown Prince of Crime,
                                    <br>The Criminal,<br>The Clown,<br>The Comedian,<br>The Designer
                                </p>
                          </div>
                        </div>
                        <div class="row">
                            <h5>Status</h5>
                            <div class="col">
                                <p><b>Alignment</b></p>
                            </div>
                            <div class="col text-end">
                                <p>Bad</p>
                            </div><hr>
                            <div class="col">
                                <p><b>Identity</b></p>
                            </div>
                            <div class="col text-end">
                                <p>Secret Identity</p>
                            </div><hr>
                            <div class="col">
                                <p><b>Citizenship</b></p>
                            </div>
                            <div class="col text-end">
                                <p>American</p>
                            </div><hr>
                            <div class="col">
                                <p><b>Marital Status</b></p>
                            </div>
                            <div class="col text-end">
                                <p>Married</p>
                            </div><hr>
                            <div class="col">
                                <p><b>Occupation</b></p>
                            </div>
                            <div class="col text-end">
                                <p>Mass Murderer, Professional Criminal, Terrorist, Comedian (Formerly), Chemical Engineer</p>
                            </div><hr>
                        </div>

                        <div class="row">
                            <h5>Characteristics</h5>
                            <div class="col">
                                <p><b>Gender</b></p>
                            </div>
                            <div class="col text-end">
                                <p>Male</p>
                            </div><hr>
                            <div class="col">
                                <p><b>Height</b></p>
                            </div>
                            <div class="col text-end">
                                <p>6'5"</p>
                            </div><hr>
                            <div class="col">
                                <p><b>Weight</b></p>
                            </div>
                            <div class="col text-end">
                                <p>87 kg (192 lbs)</p>
                            </div><hr>
                            <div class="col">
                                <p><b>Eyes</b></p>
                            </div>
                            <div class="col text-end">
                                <p>Green · <br>Brown (Formerly)</p>
                            </div><hr>
                            <div class="col">
                                <p><b>Hair</b></p>
                            </div>
                            <div class="col text-end">
                                <p>Green · <br>Brown (Formerly)</p>
                            </div><hr>
                            <div class="col">
                                <p><b>Skin</b></p>
                            </div>
                            <div class="col text-end">
                                <p>White</p>
                            </div>
                        </div>

                        <div class="row">
                            <h5>Origin</h5>
                            <div class="col">
                                <p><b>Universe</b></p>
                            </div>
                            <div class="col text-end">
                                <p>Prime Earth</p>
                            </div><hr>
                            <div class="col">
                                <p><b>Creators</b></p>
                            </div>
                            <div class="col text-end">
                                <p>Jerry Robinson · Bill Finger · Bob Kane</p>
                            </div><hr>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <div id="history">
                <h4>History</h4><hr>
                <div id="possible-origins">
                    <h5>Multiple Possible Origins</h5>
                    <p class="lead">
                        The Joker suggested many possible origins for how he came to be, though, due to his unreliable nature, many 
                        of the details are contradictory and thought to be untrue.
                    </p>
                    <ul>
                        <li>
                            One of the Joker's favorite theories was that he lived with his murderous Aunt Eunice. An abusive guardian, 
                            she bathed him with bleach, resulting in irreparable brain damage as well as the drainage of all 
                            pigmentation from his skin.
                        </li>
                        <li>
                            He told Ephram Snow that he was the Devil himself, having visited Snow fifteen years before the Joker's 
                            first official appearance to encourage the man to abduct and murder little girls to bring them back to Hell.
                        </li>
                        <li>
                            He told Cordelia Doe that he was secretly an android that was abducting and replacing people with perfect 
                            android copies so he could build himself a new body.
                        </li>
                        <li>
                            He made Morton Wales believe he was an evil clown that visited Gotham in the early 20th Century that went 
                            from factory to factory making people laugh until they died. Allegedly, the townspeople burned the clown to 
                            death on the plot of land that would one day become Ace Chemical Processing Plant. Joker told Morton that he 
                            didn't really die in the fire and that, every time someone laughed in Gotham, he got stronger - adding to 
                            Morton's irrational fear of laughing.
                        </li>
                        <li>
                            Joker told a man named Cassidy, a former soldier, that he was the first in a long line of soldiers trained by 
                            the US Government to become part of their secret Batman army. Batman was not one person, but a squad of 
                            hundreds of men secretly trained to oppress society. The Joker had defected, becoming the Batman army's greatest 
                            threat, in an effort to save the American people from their supposed heroes.
                        </li>
                        <li>
                            Dr. Mahreen Zaheer claimed the Joker's real name was William Distal from analysing every source of information 
                            she could access to assemble Joker's true origin. When he was four years old, his sister went missing and his 
                            parents were so frightened by the experience they abandoned him. He grew up in multiple foster homes until he 
                            ran away when he was 16. During the Zero Year, he faked his death, leaving some of his blood on an unidentified 
                            body, to start his life anew. However, this story, too, was put into question, because the Joker claimed to have 
                            fabricated most of Zaheer's evidence to "cheer her up".
                        </li>
                        <li>
                            He may have been Alby, a criminal who fell into a vat of acid at A.C.E. Chemicals at the culmination of Batman's first case.
                        </li>
                    </ul>
                    <p>
                        Even before becoming the Joker, his DNA was not available on any records to confirm or deny any of these stories.
                    </p>
                </div>

                <br>
                <div id="known-origin">
                    <h5>Known Origin</h5>
                    <p>
                        Despite the inconsistencies in his story, some parts of the Joker's backstory were apparently true. Before becoming the Joker, he 
                        was a failed stand-up comedian with a wife named Jeannie. Jeannie was pregnant with their first child, but due to his difficult 
                        life he started becoming erratic and mentally imbalanced. Jeannie, fearing for both her life and the life of their unborn child, went 
                        to the police, who helped her fake her death and move to Alaska to escape her husband. The man who would become the Joker was 
                        informed that his wife and child had died, forcing him to experience "one bad day".
                        <br><br>
                        Many years later, Jeannie continued to live in Alaska in peace with her son, neither she nor the Joker knowing where they had landed 
                        in life. Bruce Wayne, who had encountered the comedian before he became the Joker, was aware of Jeannie's true fate and kept it a 
                        secret in order to protect her and her son. Because of this, he was also forced to keep Joker's true name a secret.
                    </p>
                </div>

                <br>
                <div id="red-hood-gang">
                    <h5>Red Hood Gang</h5>
                    <p>
                        The Joker began his criminal career as "Red Hood One," the leader of the Red Hood Gang, comprised of blackmailed individuals from the 
                        middle and upper classes of Gotham that the Red Hood kept under his sway. With the ideology of pointless violence, the gang dared the 
                        authorities to try and catch them all. He first faced off against Bruce Wayne when the returned billionaire-turned-vigilante rescued 
                        some hostages from the madman.
                        <br><br>
                        Having been tipped off by Edward Nygma, the Red Hood sent his gang to kill Bruce Wayne, catching the billionaire in an explosion in 
                        his brownstone. Taunting Wayne as he lay dying, Red Hood One added insult to injury by shooting two bullets through a portrait of 
                        Wayne's deceased parents before leaving the future vigilante to his injuries. As the tales of the urban legend known as the Batman rose 
                        in the wake of Wayne's attempted assassination, the ranks of the Red Hood Gang began to slowly dwindle bit by bit, each member caught 
                        one by one.
                        <br><br>
                        Though Red Hood One attempted to escape in a helicopter, Batman fired his grappling line around his enemy's ankle, yanking him from the 
                        aircraft and sending them both plummeting through the weakened roof of the chemical plant. Almost falling into a vat of chemicals, Red 
                        Hood One was caught by Batman, who attempted to save the criminal's life. Claiming this moment to only be the beginning, the gang leader 
                        broke free of his savior's grasp and plummeted into the chemicals below.
                        <br><br>
                        Soon after Red Hood One's disappearance, the body of a man named William Distal was found discarded and covered in lye. The man who fell 
                        in the acid did survive, having had his skin turned pale white and his hair green. The man reappeared sometime later, unhinged with 
                        criminal insanity, calling himself the Joker.
                    </p>
                </div>
            </div>

            <br>
            <div id="powers-and-abilities">
                <h4>Powers and Abilities</h4><hr>
                <div id="powers">
                    <h5>Powers</h5>
                    <ul>
                        <li>Cheating Death: The Joker has an uncanny ability to cheat deadly situations, including before his transformation into the Joker, 
                            when he was still Red Hood One.
                        </li>
                        <li>Unique Physiology: Due to his chemical submergence, Joker has gained beyond-average advantages over normal humans as well as further 
                            exposure has tainted his physiology.
                            <ul>
                                <li>Pain Resistance</li>
                                <li>Joker Venom Immunity</li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <br>
                <div id="abilities">
                    <h5>Abilities</h5>
                    <ul>
                        <li>Genius Level Intellect
                            <ul>
                                <li>Gadgetry</li>
                                <li>Chemistry: Joker produced the original Joker Venom and all of its later versions.
                                    <ul>
                                        <li>Toxicology</li>
                                    </ul>
                                </li>
                                <li>Escapology</li>
                                <li>Investigation</li>
                                <li>Leadership</li>
                                <li>Tactical Analysis</li>
                                <li>Disguise: Joker was able to use skin pigments and face relaxers to disguise himself as a new orderly at Arkham Asylum 
                                    named "Eric Border".
                                </li>
                            </ul>
                        </li>
                        <li>Hand-to-Hand Combat (Advanced): Joker is a highly skilled fighter, due to his speed and unpredictability. He killed 19 police 
                            officers inside the GCPD and killed all of the top lieutenants of every crime family in Gotham. Joker also bested the members 
                            of the Batfamily, beating the likes of Nightwing, Red Hood, Red Robin, Robin and Batgirl in battle and held them hostage. Joker 
                            also and managed to defeat the The Batman Who Laughs, with the aid of Batman.
                        </li>
                        <li>Indomitable Will</li>
                        <li>Intimidation</li>
                        <li>Stealth</li>
                        <li>Swimming</li>
                        <li>Throwing: Joker is capable of throwing his sharped cards as projectile weapons with great accuracy.</li>
                        <li>Weaponry: Joker is highly skilled with knives in combat.</li>
                    </ul>
                </div>
            </div>

            <br>
            <div id="paraphernalia">
                <h4>Paraphernalia</h4><hr>
                <div id="equipment">
                    <h5>Equipment</h5>
                    <ul>
                        <li>Joker Venom</li>
                        <li>Joker Teeth</li>
                        <li>Joker Cards</li>
                        <li>Dionesium (Formerly): Joker's spine formerly contained the chemical compound Dionesium, within it. This allowed Joker to recover 
                            from injuries at an accelerated rate.
                        </li>
                    </ul>
                </div>
            </div>

            <br>
            <div id="relatives">
                <h4>Relatives</h4><hr>
                <ul>
                    <li>Unnamed mother</li>
                    <li>Jeannie (wife, estranged)</li>
                    <li>Unnamed son</li>
                    <li>Lonnie Machin (possible son, deceased)</li>
                </ul>
            </div>

            <br>
            <div id="affiliation">
                <h4>Affiliation</h4><hr>
                <ul>
                    <li>League of Villainy</li>
                    <li>League of Doom</li>
                    <li>Red Hood Gang (Formerly)</li>
                </ul>
            </div>

            <br>
            <div id="boo">
                <h4>Base of Operations</h4><hr>
                <ul>
                    <li>Gotham City</li>
                </ul>
            </div>

            <br>
            <div id="trivia">
                <h4>Trivia</h4><hr>
                <ul>
                    <li>Joker hates Bane, considering him an utter disappointment for how he handled murdering Alfred Pennyworth. Joker saw the death as having 
                        been wasted because Batman wasn't even there to be traumatized by it.
                    </li>
                </ul>
            </div>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" 
        crossorigin="anonymous"></script> 
    </body>
</html>